<!DOCTYPE html>
<html lang="pt-br" ng-app="listaUsuarios">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Web script developer</title>

	<!-- Bootstrap core CSS -->
	<link href="libs/bootstrap/bootstrap.min.css" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	  
	<link href="css/style.css" rel="stylesheet">
		  
	<!-- ANGULAR-->
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular/angular-route.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/usersCtrl.js"></script>
  </head>

<body ng-controller="usersCtrl">
	<div class="container">
		<div class="starter-template">
			<h1>Lista de Usuários</h1>
		</div>

		<div class="jumbotron">
			<table class="table" id="tab">
				<tr>
					Filtros:
					<input type="radio" id="rdMenor18" name="filtro" ng-click="ageFilter"> Menor 18 | 
					<input type="radio" id="rdMaior18" name="filtro" ng-click="ageFilter"> Maior 18 |
					<input type="radio" id="rdMenor60" name="filtro" ng-click="ageFilter"> Menor 60 |
					<input type="radio" id="rdMaior60" name="filtro" ng-click="ageFilter"> Maior 60
					<input type="radio" id="rdTodos" name="filtro" ng-click="ageFilter"> Todos
				</tr>
				<tr>
					<td><b>Id</b></td>
					<td><b>Nome</b></td>
					<td><b>E-mail</b></td>
					<td><b>Idade</b></td>
				</tr>
				<tr ng-repeat="usuario in usuarios | filter:ageFilter" ng-class="[verificaIdade(calculateAge(usuario.birthday), ($index+2)), verificaAniversario(usuario.birthday, ($index+2))]">
					<td>{{usuario.id}}</td>
					<td>{{usuario.name | uppercase}}</td>
					<td>{{usuario.email}}</td>
					<td>{{calculateAge(usuario.birthday)}}</td>
				</tr>
			</table>
		</div>
	</div><!-- /.container -->
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery-1.12.0.min.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
